video {
    transform: rotateY(180deg); 
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-analog-clock {
        width: 100px;
    }
    
 .label {
        width:20%;
        padding:4px;
    }
 
    .value {
        width:80%;
        padding:4px;
    }
 
    .grid {
        width:100%;
    }
 
    .error {
        color: red;
    }
 
    .outputLabel {
        font-weight: bold;
    }
 
    .grid {
        width:33%;
        padding:4px;
    }
    
    .ui-panel, div.ui-state-hover {
                margin: 10px;
                width:200px;
            }
             
            .ui-dashboard-column {
                width:220px;
            }